<div class="product-card">
    <div class="product-card__img img-hidden">
        <picture class="mb-20 mb-xs-10">
            <img width="608" height="490" data-src="img/product/pump-bottle.png" src="img/1x1.png" alt="pump-bottle">
        </picture>
    </div>
    <div class="product-card__content">
        <h3 class="h3 mb-15 mb-xs-10">Cosmetic products</h3>
        <p class="text-xl text-gray mb-50 mb-xs-35">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        <div class="flex-lg between">
            <div class="mb-xs-20">
                <a class="btn mb-xs-10 mr-25 mr-xs-5" href="#">Buy Now</a>
                <a class="btn btn_border text-medium" href="#">Add To Cart</a>
            </div>
            <div class="text-xxl text-medium align-center">
                $120
            </div>
        </div>
    </div>
</div>