<section class="banner__header">
    <div class="container">
        <article class="row">
            <div class="col-6 col-xs-12 order-xs-2 align-center">
                <h1 class="h1 mt-40 mt-xs-20 mb-30 mb-xs-30">Get Your Best Cosmetic Products Here</h1>
                <p class="text-xl text-gray mb-30 mb-xs-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                <form class="form-search mb-60 mb-xs-30" action="">
                    <input type="search" placeholder="Search...">
                    <button class="btn btn_search">
                        <svg class="icon">
                            <use xlink:href="img/sprite.svg#search"></use>
                        </svg>
                    </button>
                </form>
                <a class="btn" href="#">Shop Naw</a>
            </div>
            <div class="col-6 col-xs-12 order-xs-1 align-end">
                <picture>
                    <source srcset="/img/products.jpg">
                    <img  src="img/products.jpg" alt="products">
                </picture>
            </div>
        </article>
    </div>
</section>