@import "./text";
@import "./title";
@import "./list";
@import "./button";
@import "./form";

@import "./header";
@import "./banner";
@import "./footer";
@import "./product";
@import "./star";

body {
  font-family: $Regular;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #DDD;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}

.link {
  text-decoration: none;
  color: #222222;
  transition: $transition;

  &_arrow {
    position: relative;
    padding-right: 32px;

    &:after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url('../img/sprite.svg#arrow-smile');
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
  &_underline {
    text-decoration: underline;
  }

  &:hover {
    color: rgba(#222222, .75);
  }
}

.revers {
  transform: rotate(180deg);
}

.bg {
  &-lactic {
    background-color: #FDF8F5;
  }
  &-white {
    background: #FAFAFA;
  }
}